@model IEnumerable<AccaProduction.Models.Kandidat>

@{
    ViewData["Title"] = "Pregled kandidata";
}

<br />
<h2>Pregled Kandidata</h2>
<hr />

<div class="row">
    <div class="col-sm-3">
        <p>
            <a asp-action="Create" class="btn btn-primary">Dodaj Novog Kandidata</a>
        </p>
    </div>
    <form asp-controller="Kandidats" asp-action="Index" method="get">
        <div class="col-sm-9 pull-right">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <b>Pretraga: </b>
                    <label class="radio-inline">@Html.RadioButton("option", "Ime", true)Ime</label>
                    <label class="radio-inline">@Html.RadioButton("option", "Email")Email</label>
                    <label class="radio-inline">@Html.RadioButton("option", "Odeljenje")Odeljenje</label>
                </div>
            </div>
            <div class="row" style="padding:5px;">
                <div class="pull-right" style="padding-left:5px;">
                    <button type="submit" name="submit" value="search" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> &nbsp; Traži
                    </button>
                </div>
                <div class="pull-right">
                    @Html.Editor("search", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="row" style="padding:5px">
                <div class="pull-right">
                    <button type="submit" name="submit" value="export" class="btn btn-success">
                        Izvoz u excel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<div class="form-border">
    <table id="candidatesTable" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Drzava)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Odeljenje)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drzava)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Odeljenje)
                    </td>
                    <td>
                         @await Html.PartialAsync("_TableButtonPartial", new IndividualButtonPartial { KandidatId = item.IdAccaNumber })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

