@model AccaProduction.Models.Polaganja

@{
    ViewData["Title"] = "Update";
}

<br />
<h2>Promena statusa polaganja</h2>

<h4>Polaganja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="KandidatId" class="control-label"></label>
                <input asp-for="@Model.KandidatId" class="form-control" disabled>
                <input asp-for="@Model.KandidatId" type="hidden">
            </div>
            <div class="form-group">
                <label asp-for="IspitId" class="control-label"></label>
                <input asp-for="@Model.IspitId" class="form-control" disabled>
                <input asp-for="@Model.IspitId" type="hidden">
            </div>
            <div class="form-group">
                <label asp-for="Rok.NazivRoka" class="control-label"></label>
                <input asp-for="@Model.Rok.NazivRoka" class="form-control" disabled />
                <input asp-for="@Model.Rok.NazivRoka" type="hidden" />
                <span asp-validation-for="Rok.NazivRoka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"> Status</label>
                <select asp-for="StatusId" class="form-control" asp-items="@(new SelectList((List<StatusPrijave>)ViewData["Statusi"],"Id","StatusName"))"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Promeni status" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-success" asp-action="Index">Back to List</a>
</div>